/** @format */

.category-card {
  background-color: rgba(0, 0, 0, 0.592) !important;
  height: 90px !important;
  border: 1px solid #ffffff !important;
  /* padding: 20px !important; */
}
.category {
  /* padding: 15px 15px !important; */

  display: inline-block !important;
  border: 1px solid #fe5000 !important;
  vertical-align: middle;
}
.newProduct-input-2 {
  width: 30% !important;
  color: #fe5000 !important;
  background-color: #00000000 !important;
  padding: 8px !important;
  border: 0.5px solid #ffffff !important;
}
.category-main {
  height: 88vh; /* Định dạng chiều cao của thẻ div */
  overflow-y: auto !important;
}

.newProduct-input-3 {
  width: 100% !important;
  color: #fe5000 !important;
  background-color: #00000000 !important;
  padding: 8px !important;
  border: 1px solid #fe5000 !important;
}
.newProduct-input-3::placeholder {
  color: #ffffff !important;
}
