/**
 * @format
 * @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 */

@-webkit-keyframes neon5 {
  0% {
    text-shadow: 0 0 7px #fff, 0 0 14px #fff, 0 0 21px #fff, 0 0 28px #ff9900,
      0 0 49px #ff9900, 0 0 56px #ff9900, 0 0 70px #ff9900, 0 0 105px #ff9900;
    color: #ec4e00 !important;
  }
  100% {
    text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 10px #ff9900,
      0 0 17.5px #ff9900, 0 0 20px #ff9900, 0 0 25px #ff9900, 0 0 37.5px #ff9900;
    color: #ec4e00 !important;
  }
}

@-moz-keyframes neon5 {
  0% {
    text-shadow: 0 0 7px #fff, 0 0 14px #fff, 0 0 21px #fff, 0 0 28px #ff9900,
      0 0 49px #ff9900, 0 0 56px #ff9900, 0 0 70px #ff9900, 0 0 105px #ff9900;
    color: #ec4e00 !important;
  }
  100% {
    text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 10px #ff9900,
      0 0 17.5px #ff9900, 0 0 20px #ff9900, 0 0 25px #ff9900, 0 0 37.5px #ff9900;
    color: #ec4e00 !important;
  }
}

@keyframes neon5 {
  0% {
    text-shadow: 0 0 7px #fff, 0 0 14px #fff, 0 0 21px #fff, 0 0 28px #ff9900,
      0 0 49px #ff9900, 0 0 56px #ff9900, 0 0 70px #ff9900, 0 0 105px #ff9900;
    color: #ec4e00 !important;
  }
  100% {
    text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 10px #ff9900,
      0 0 17.5px #ff9900, 0 0 20px #ff9900, 0 0 25px #ff9900, 0 0 37.5px #ff9900;
    color: #ec4e00 !important;
  }
}

/* @-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
      0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
      0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
      0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
      0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
  }
}

@-moz-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
      0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
      0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  color: #ffff;
  font-weight: 500;
  /* Ẩn thanh cuộn dọc */
  /* overflow-y: hidden !important; */
}
*::selection {
  background-color: #ec4f00;
  color: #000000;
}

body {
  overflow-y: hidden !important; /* Ẩn thanh cuộn dọc */
  /* back-ground for all pages */
  background-color: #111111 !important;
}

h1,
h2,
h3,
h6 {
  color: #ffffff !important;
  font-weight: 600 !important;
  letter-spacing: -0.03em !important;
  font-family: "Rajdhani", sans-serif !important;
}
h4 {
  color: #fe5000 !important;
  font-weight: 600 !important;
  letter-spacing: -0.03em !important;
  font-family: "Rajdhani", sans-serif !important;
  margin: 0 !important;
}

hr {
  background-color: #ec4e00 !important;
  color: #ec4f00 !important;
  height: 2px !important;
  opacity: 100 !important;
  margin-top: -5px !important;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.background-video video {
  width: 100%;
  height: 100vh;
  object-fit: fill;
}

.sideBar {
  height: 100vh;
  padding: 10px 20px 10px 20px !important;
  border-right: 1px solid rgb(255, 255, 255);
}

.content {
  padding: 10px 20px 10px 20px !important;
  background-color: #00000057;
}

.product {
  height: 75vh; /* Định dạng chiều cao của thẻ div */
  overflow-y: scroll !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.productSession {
  position: relative;
}

.sort {
  align-items: center !important;
}
/* collapse Form */
.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  height: 0;
  overflow: hidden;
}

.card-body {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.916) !important ;
  border: 2px solid #ec4f00 !important;
  border-radius: 0% !important;
}
.newProduct-input {
  width: 100% !important;
  color: #ffffff !important;
  background-color: #00000000 !important;
  padding: 8px !important;
  border: 0.5px solid #ffffff !important;
}
.newProduct-input::placeholder {
  color: #ffffff !important;
}
.newProduct-input:checked {
  border: 2px solid #ec4f00 !important;
}

.product-link {
  text-decoration: none;
  color: #ec4f00;
  font-weight: 600;
}

.product-link:hover {
  color: #ffffff;
}

.neon-effect:hover {
  color: #ffffff !important;
  -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
  -moz-animation: neon5 1.5s ease-in-out infinite alternate;
  animation: neon5 1.5s ease-in-out infinite alternate;
}

.detail-product-title {
  color: #ec4f00 !important;
  font-weight: 600 !important;
  letter-spacing: -0.03em !important;
  font-family: "Rajdhani", sans-serif !important;
  text-transform: uppercase !important;
  letter-spacing: 0.12em !important;
}
.detail-product-title-1 {
  color: #ffffff !important;
  font-weight: 600 !important;
  letter-spacing: -0.03em !important;
  font-family: "Rajdhani", sans-serif !important;
  text-transform: uppercase !important;
  letter-spacing: 0.12em !important;
}

.detail-product-img {
  border: 1px solid #ffffffa3 !important;
}

.detail-product-name {
  font-size: 60px !important;
  line-height: 1em !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

.detail-product-price {
  letter-spacing: -0.04em !important;
  font-weight: 700 !important;
  font-family: Rajdhani, sans-serif !important;
  font-size: 50px !important;
  line-height: 1em !important;
}

.product-detail-desc {
  margin-top: 30px !important;
}

.star {
  color: #ec4f00 !important;
  font-size: 32px !important;
  line-height: 60% !important;
}

.customer-reviews {
  font-size: 18px !important;
  font-weight: 350;
}

.product-detail-desc {
  margin-top: 20px !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  font-family: "Roboto Condensed", sans-serif !important;
  text-align: justify !important;
}

.detail-product-main {
  background-color: #00000064 !important;
}

.detail-product-category {
  color: #ec4e00 !important;
  font-weight: 600 !important;
  letter-spacing: -0.03em !important;
  font-family: "Rajdhani", sans-serif !important;
  margin: 0 !important;
  text-transform: uppercase !important;
}

.class {
  margin-bottom: 17px !important;
}

/* button effect */
.customButton {
  padding: 0.6em 1.6em !important;
  border: 2px solid #ec4e00 !important;
  overflow: hidden !important;
  background-color: transparent !important;
  text-align: center !important;
  text-transform: uppercase !important;
  font-size: 18px !important;
  transition: 0.3s !important;
  z-index: 1 !important;
  font-family: "Rajdhani", sans-serif !important;

  color: #ec4e00 !important;
}

.customButton::before {
  content: "" !important;
  width: 0 !important;
  height: 300% !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) rotate(180deg) !important;
  background: #ec4e00 !important;
  transition: 0.5s ease !important;
  display: block !important;
  z-index: -1 !important;
}

.customButton:hover::before {
  width: 205% !important;
}

.customButton:hover {
  color: #ffffff !important;
}

/* button effect */
.customButton2 {
  padding: 0.4em 1.4em !important;
  border: 2px solid #ffffff !important;
  overflow: hidden !important;
  background-color: transparent !important;
  text-align: center !important;
  text-transform: uppercase !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  transition: 0.3s !important;
  z-index: 1 !important;
  font-family: "Rajdhani", sans-serif !important;

  color: #ffffff !important;
}

.customButton2::before {
  content: "" !important;
  width: 0 !important;
  height: 300% !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) rotate(180deg) !important;
  background: #ec4e00 !important;
  transition: 0.5s ease !important;
  display: block !important;
  z-index: -1 !important;
}

.customButton2:hover::before {
  width: 205% !important;
}

.customButton2:hover {
  color: #000000 !important;
  font-weight: 600 !important;
  border: 2px solid #3e3e3e !important;
}

.category-option {
  background-color: #000000 !important;
  color: #ec4e00 !important;
  text-transform: uppercase !important;
}

/* Switch */
.switch {
  position: relative;
  height: 1.5rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: rgba(100, 116, 139, 0.377);
  transition: all 0.3s ease;
}

.switch:checked {
  background-color: rgb(236, 72, 72);
}

.switch::before {
  position: absolute;
  content: "";
  left: calc(1.5rem - 1.6rem);
  top: calc(1.5rem - 1.6rem);
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
  border: 1px solid rgba(100, 116, 139, 0.527);
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 1);
  text-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
  transition: all 0.3s ease;
}

.switch:hover::before {
  text-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.15);
}

.switch:checked:hover::before {
  text-shadow: 0 0 0px 8px rgba(236, 72, 72, 0.15);
}

.switch:checked:before {
  transform: translateX(100%);
  border-color: rgba(236, 72, 72, 1);
}

.filter-select {
  color: #ffffff !important;
  background-color: transparent;
  opacity: 100% !important;
  padding: 10px !important;
  border: 0.5px solid #ffffff !important;
  width: 30% !important;
  min-height: 100% !important;
}
.filter-search {
  width: 30% !important;
  border-radius: 5px;
  padding: 10px !important;
  background-color: #ffffff47 !important;
  color: #ffffff !important;
}
.filter {
  align-content: space-between !important;
}
